==
<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>St. Joseph's Sen. Sec. Sch.</h4>
					<ul class="fh5co-footer-links">
						<li>P.O Box 119</li>
						<li>Box Bar Road.</li>
						<li>+220 ‭422-7709</li>
						<li>stjosephs1921@yahoo.co.uk</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Work &amp; Pray</h4>
					<ul class="fh5co-footer-links">
						<li><a href="{{ 'home'|page}}">Home</a></li>
						<li><a href="{{ 'about'|page}}">About</a></li>
						<li><a href="{{ 'events'|page }}">Events</a></li>
						<li><a href="{{ 'blog'|page }}">Blog</a></li>
						<li><a href="{{ 'gallery'|page }}">Gallery</a></li>
						<li><a href="{{ 'contact'|page }}">Contact</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6 col-md-push-1">
					<h4>School Hours</h4>
					<ul class="fh5co-footer-links">
						<li>8:15 a.m. Classes Begin</li>
						<li>10:55 a.m. Break Period</li>
						<li>11:30 a.m. Classes Begin</li>
						<li>13:55 p.m. Closing Period</li>
						<li>14:15 p.m. PM Period</li>
						<li>16:00 p.m. Closing of PM</li>
					</ul>
				</div>
			</div>
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2019 SJSSS. All Rights Reserved.</small> 
						<small class="block">Designed by The Students.</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a
									href="https://www.facebook.com/Saint-Josephs-Senior-Secondary-School-2481936115172108/?modal=admin_todo_tour"
									target="_blank"><i
										class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UC3nddtNh66EKLt_gLxKsb6w" target="_blank"><i
										class="icon-youtube"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>


