==
<div class="fh5co-loader"></div>
	
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="num">Call: +220 ‭422-7709</p>
						<ul class="fh5co-social">
							<li><a
									href="https://www.facebook.com/Saint-Josephs-Senior-Secondary-School-2481936115172108/?modal=admin_todo_tour" target="_blank"><i
										class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UC3nddtNh66EKLt_gLxKsb6w" target="_blank"><i
										class="icon-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1 logo-top">
						<div id="fh5co-logo"><a href="{{ 'home'|page }}"><span><img class="sch-logo" src="{{ 'assets/images/schLogo.png'|theme }}"
										alt="work"></span></a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>
							<li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
							<li class="{% if this.page.id == 'events' %}active{% endif %}"><a href="{{ 'events'|page }}">Events</a></li>
							<li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">Blog</a></li>
							<li class="{% if this.page.id == 'gallery' %}active{% endif %}"><a href="{{ 'gallery'|page }}">Gallery</a></li>
							<!-- <li class="has-dropdown">
								<a href="blog.html">Blog</a>
								<ul class="dropdown">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li>
								</ul>
							</li> -->
							<li><a href="{{ 'contact'|page }}">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>