title = "about"
url = "/about"
layout = "default-layout"
is_hidden = 0

[builderList]
modelClass = "Sang\Hods\Models\HODS"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ 'assets/images/picture.jpg'|theme }});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Know About SJSSS</h1>
							<h2>We are an all-girl school. Thus we're proud of who we are as Josephina's.</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-counter" class="fh5co-counters" style="background-color: #f2f2f2;">
		<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Our School By Numbers</h2>
						<p>The statistics are what make us keep going, thus constant improvement would be achieved.</P>
					</div>
				</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<span id="icons" class="icon-book"></span>
						<h2 n class="mt-20" style="font-size: 44px; color: rgba(0, 0, 0, 0.5);">1:20</h2></span>
					<span class="fh5co-counter-label">Students to Teachers Ratio</span>
				</div>
				<div class="col-md-4 text-center animate-box">
					<span id="icons" class="icon-trophy"></span>
						<spa>
							<h2 n class="mt-20" style="font-size: 44px; color: rgba(0, 0, 0, 0.5);">100%</h2></span>
					<span class="fh5co-counter-label">Participation In Extra Currillum Activities</span>
				</div>
				<div class="col-md-4 text-center animate-box">
					<span id="icons" class="icon-graduation-cap"></span>
					<h2 n class="mt-20" style="font-size: 44px; color: rgba(0, 0, 0, 0.5);">15</h2></span>
					<span class="fh5co-counter-label">Graduate Teachers</span>
				</div>	
			</div>

			<div class="row">
						<div class="col-md-6 text-center animate-box">
							<span id="icons" class="icon-graduation-cap"></span>
								<h2 n class="mt-20" style="font-size: 44px; color: rgba(0, 0, 0, 0.5);">95%</h2></span>
							<span class="fh5co-counter-label">Students Graduation Rate</span>
						</div>
							<div class="col-md-6 text-center animate-box">
								<span id="icons" class="icon-hand"></span>
								<h2 n class="mt-20" style="font-size: 44px; color: rgba(0, 0, 0, 0.5);">15</h2></span>
								<span class="fh5co-counter-label">Enrolled In Vocational Stream</span>
							</div>
			</div>
		</div>
	</div>

	<div id="fh5co-explore">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>About Us</h2>
					<p>
					    We have gone through so much for almost a century, browse through our history, know us more.
					</p>
				</div>
			</div>
		</div>
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-push-7 animate-box mt-60">
						<img class="img-responsive abt-img" src="{{ 'assets/images/principal.png'|theme }}" alt="work">
					</div>
					<div class="col-md-7 col-md-pull-5 animate-box">
						<div class="mt">
							<h3>We Are The Great St. Josephs</h3>
							<p>
									Since 1883, the Sisters of St. Joseph of Cluny have worked in The Gambia with devotion and dedication in the
									fields of Education, Nursing and other social work for the promotion of the full development of the Gambian
									people.
									St. Joseph’s Senior Secondary School (previously St. Joseph’s High School) was established in 1921 as a Roman
									Catholic Mission School for Girls by the Congregation with an initial enrolment of forty-four students headed
									by Mrs. Nellie Morris who handed over to Sr. Celeste Wall in 1923. The school’s policy was to instil self
									discipline, inculcate moral values and to provide a model education for its students, Christians and Muslims
									alike; with basic reading, writing, arithmetic, music (introduced in 1926), home economics skills with a great
									emphasis on religious education. The Cluny Sisters at the time believed that education provided skills for
									girls to become good home managers and disciplined citizens within their communities.
									On the 10th of April 1940, Sr. Jarlath Hoade took over the mantle, the only principal to head both the
									secondary and primary schools concurrently.
							</p>
						</div>
					</div>
	
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
						Continue Reading 
					</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalScrollableTitle">All About Our History</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									The period running up to and soon after independence in 1965, brought numerous reforms in the education
									system
									in the Gambia. Student Enrolment increased over the years as the demand for secondary education escalated
									in the
									country; St. Joseph’s grew to a two stream school in 1975, necessitating the move to its present location
									at
									Campama in 1976 through the leadership of Sr. Benigna Kearnet, who later handed over to Sr. Theresa
									Mundow. She
									was succeeded by Mrs. Elsie Shyngle who passed the baton on to Sr. Leo. All these remarkable women,
									contributed
									greatly to the development of St. Joseph’s.

									The importance of education in the life of an individual cannot be overstated. Education shapes
									individuals in
									their formative years; and imbues and inculcates them with morals and values that would govern all their
									choices
									in life. This is the raison d’être of St. Joseph’s as embodied in our MISSION.
									With the ever increasing changes in the world and the rapid trends in development, it became even more
									important
									to equip our girls with the prerequisite skills and knowledge that will help them fit in a global
									village. The
									Anne Marie Javouhey Libray built in the 80’s remains an important facility for our girls. At St. Joseph’s
									we
									stand always and forever committed to providing our students the best of opportunities so that each GIRL
									gets a
									head start in life, to reach the dizzy heights scaled by many of our distinguished alumnae.

									I took over task of carrying this ethos forward on the 5th January 2011 from Sr. Catherine Jarra who took
									over
									in 2000 and who was preceded by Mrs. Vicky Ndure, principal from 1993. These two strong and dynamic women
									led
									the school through some major challenges in education; with the former supervising the change from a five
									year
									course of study to a six year program: three years (Grades 7 to 9) of junior secondary and three years
									(Grades
									10 -12) of senior secondary, during which time St. Joseph’s had to go double shift. The school went
									through yet
									another change spearheaded by Sr. Catherine, this saw the transition to a single shift school offering
									three
									years of senior secondary education. Through all these challenges, these brave women never lost sight of
									the
									infrastructural development of the school, thus the building of the school hall by Mrs. Ndure and the
									computer
									laboratory by Sr. Catherine.
									During this time, THE CURRICULUM broadened greatly, as the school strived to meet the educational
									requirements
									of parents and students in a modern world. To include 24 subjects at the West African Senior School
									Certificate
									Examination (WASSCE), which replaced the General Certificate in Education (GCE) exams. We also offer
									non-examinable subjects like Information Technology and Physical Education. Our undertaking as an
									educational
									community is the pursuit of excellence and the development of the full potential for all.
									In this 21st Century, St. Joseph’s recognizes the importance of IT as an essential tool to facilitate
									better,
									effective and efficient learning in school.
									We endeavour, through the use of ICT to make quality education accessible to all students.
									Our Research Laboratory (a converted classroom) was unveiled in December 2011. Here students and teachers
									can
									access the internet for research purposes. With the installation of the “Smart Room” in 2012, equipped
									with an
									electronic board, a projector, lap-top and responders, both teachers and students are exposed to IT
									methods of
									teaching and learning especially in Maths and Physics. The Progressive Maths and Science Initiatives
									funded by
									the Ministry of Basic and Secondary Education (MOBSE) have contributed immensely in improving
									performance,
									especially in Physics, at WASSCE. To facilitate this expansion and also help cut on the associated energy
									costs
									for running such a programme, the school has is now equipped with a Solar System to power the Science
									Block
									since August 2017.

									The nature of students that come into St. Joseph’s today, warrants that we work relentlessly to bring out
									and
									nurture their God given talents, through taught lessons and extracurricular activities; continuously
									embarking
									on new initiatives and trying to consolidate on pre-existing ones both within and outside the classroom
									as we
									seek to provide a holistic approach to the education of our girls. St. Joseph’s believes strongly in
									creating
									opportunities for the girl child. We have introduced a Vocational Class in September 2015, registering
									students
									with aggregates 37-42. This class serves as a pre-ten class so that students who do well in this class
									will be
									given the opportunity in mainstream in the subsequent academic year. The rationale behind the vocational
									class
									is to give students who may be late developers academically as well as those from the lower tier of
									society a
									chance to access secondary education.

									Sport continues to play a huge role in the development of our young Ladies. St. Joseph’s continues to be
									rated
									highly competitive in a number of sporting codes. The basketball, volleyball, football and cricket teams
									have
									all participated in competitions and managed to reach respectable stages of their various tournaments, as
									defending champions for Volleyball and current champions for Cricket. However, the past three years have
									been
									particularly bad for athletics.

									From 2011 to 2015, we have seen a positive trend in performance at WASSCE. There has been a steady
									increase in
									the number of candidates scoring grades A, B and C (credit passes) in various subjects. In 2014, St.
									Joseph’s
									ranked 7th out of 74 senior secondary schools in the Gambia at WASSCE. Though this may look grim to us
									Josephina’s and Augustinian’s, the school prides itself in the fact that we actually add value to
									academic
									standing of our students: ‘we do not take the best, we create the best’.
									Today, I am very confident as Principal, to say YES INDEED St. Joseph’s is making a comeback! In the year
									2016,
									St. Joseph’s set major record at WASSCE: for the first time in the history of this noble institution we
									produced
									six candidates with 9 straight credits: three from the science class and three from the commerce class.

									Our ultimate goal as an educational institution is: “to make St. Joseph’s a Model School in the Gambia
									that can
									compete favourably in this millennium, through the adoption of best practices”

									In strategic terms, St. Joseph’s Senior Secondary School now needs to consolidate its identity and to
									strengthen
									its educational quality. We need to rebuild St. Joseph’s and bring it back to the RADAR of Academic and
									Sporting
									Excellence. For this we need the support of philanthropists, well wishers and most especially our
									alumnae.
									I have the greatest pleasure both as principal and someone who has benefitted so much from this noble
									institution to be associated with the maiden Reunion of the Saints Alumni Association Europe Chapter.
									Please
									remember that whatever spending you make as part of this activity is not an expense but an investment in
									the
									development of Your Alma Mata! <br>

									Together we can bring back the glory days of the Mighty Saints! The future is bright indeed! <br>

									ORA ET LABORA!!
									(Pray and Work!) <br>

									Long live St. Josephs! <br>


									Signed: Ms. Hannah K Coker <br>
									Principal
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div id="fh5co-explore" class="fh5co-bg-section">
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
							<h2>Code of Conduct</h2>
							<p> The realization of these are what makes us proud Josephina's.</p>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="mt">
							<div>
								<h4><i class="icon-eye"></i>Vision</h4>
								<p>&ldquo;To make St. Joseph's a Model School in The Gambia through the gates of St. Joseph's will, at the end
									of their three years education, be employable citizens of The Gambia, either employed or self-employed, and
									who would be financially independent to be able to take care of themselves, their families, and the community
									at large.&ldquo;</p>
								</div>
							<!-- <div>
								<h4><i class="icon-video2"></i>Objectives</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
									live
									the blind texts. </p>
								</div> -->
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="mt">
									<div>
										<h4><i class="icon-light-bulb"></i>Mission Statement</h4>
										<p>&ldquo;To send out at the end of their schooling, educated, loyal, 
											morally adn religiously strong and talented young women who would serve their nation with pride.&ldquo;
										</p>
									</div>
						</div>
					</div>

						<!-- <div class="row animate-box">
							<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
									<h4><i class="icon-video2"></i>The St. Joseph’s Experience is very powerful</h4>
									<p style="text-align: justify;">St. Joseph’s, through its Vision and Mission, stands to develop rounded individuals and continuously
										seeks to set the highest standards.</p>
								<p style="text-align: justify;">
									It gives students a unique sense of boldness. <br>
									It helps them to develop their God given talents and potentials. <br>
									It gives the girls the opportunity to explore different disciplines and integrate fields of knowledge,
									and, to ask the right questions here students are uniquely prepared to not only fit in but to excel wherever
									they may find themselves.
								</p>
							</div>
						</div> -->

						<div class="col-md-6 animate-box text-center">
							<div class="mt">
								<div>
								
									
								</div>
								<div>
									
								</div>
							</div>
						</div>
				</div>

		</div>


	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2 style="margin-bottom: -2em;">Head Of Departments</h2>
						<p class="mt-100">We have had a numberous challenges but our Heads in various departments are always on-guard.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							{% set records = builderList.records %}
							{% set displayColumn = builderList.displayColumn %}
							{% set noRecordsMessage = builderList.noRecordsMessage %}
							{% set detailsPage = builderList.detailsPage %}
							{% set detailsKeyColumn = builderList.detailsKeyColumn %}
							{% set detailsUrlParameter = builderList.detailsUrlParameter %}

							{% for record in records %}
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="{{ record.headofdept_img.thumb(100,100, {'mode': 'crop'}) }}" alt="user">
										</figure>
										<span>{{ record.name }} <br> {{ record.position }}</span>
										<blockquote>
											<p>&ldquo;{{ record.description|raw }}&rdquo;</p>
										</blockquote>

										
									</div>
								</div>

									<!-- <p>Our Teachers</p>

									
										<div class="item">
											<div class="testimony-slide active text-center">
												<figure>
													<img src="{{ record.headofdept_img.thumb(100,100, {'mode': 'crop'}) }}" alt="user">
												</figure>
											
												<blockquote>
													<p>&ldquo;{{ record.description|raw }}&rdquo;</p>
												</blockquote>
											</div>
										</div> -->

								

								
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		
</div>
</div>