title = "blog-details"
url = "/blog-details/:slug"
layout = "default-layout"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "about"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "blog-details"

[disqus]
page_id_prefix = "blog-detiails"
page_id = "{{ slug }}"
==
<header id="fh5co-header" class="blog-details-header fh5co-cover fh5co-cover-sm" role="banner"
      style="background-image:url({{ 'assets/images/picture.jpg'|theme }});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
</header>

    <div id="fh5co-blog">
      <div class="container">

      {% set post = blogPost.post %}

        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="fh5co-blog animate-box">
              <a href="#">
                	{% if post.featured_images.count %}
                	             
                	  {% for image in post.featured_images %}
                	    <a href="{{ post.url }}"><img class="img-responsive text-center" data-src="{{ image.filename }}"
                	    src="{{ image.path }}"  alt="{{ image.description }}"></a>
                	  {% endfor %}
                	             
                  {% endif %}

                </a>
              <div class="col-lg-12 blog-text" id="blog-details">
                <div class="col-lg-12">
                  <h3><i class="icon-open-book blog-icons"></i><a href=""
                        #>{{ post.title }}</a></h3>
                  <span class="posted_on">{{ post.published_at|date('M d, Y') }}</span>
                  <!-- <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span> -->
                  <p>{{ post.content_html|raw }}
                  </p>
                </div>
            </div>
          </div>{% component 'disqus' %}
        </div>
        <div class="col-lg-4 col-md-4 mt-40"
          style="border: 1px solid #fff; border-radius: 10px;  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.10)">
          <div class="fh5co-blog animate-box blog-text">
            <div class="animate-box">
              <h3 class="mb-20 ml-40 pt-30">More Articles.</h3>
            </div>
            	<ul class="list-nav">
                 	{% set posts = blogPosts.posts %}
                   {% for post in posts %}
                    {% if loop.index < 5 %}
                      <a href="{{ post.url }}">
                        <h4><i class="icon-open-book blog-icons"></i>{{ post.title }}</h4>
                      </a>
                      <p>{{ html_limit(post.summary|raw, 125) }}</p>
                    {% endif %}
                  {% endfor %}
							</ul>
          </div>
        </div>
      </div>
              
        </div>
      </div>
    </div>
  </div>
  </div>