title = "blog"
url = "/blog"
layout = "default-layout"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "blog-details"
==
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
		style="background-image:url({{ 'assets/images/picture.jpg'|theme }});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Blog</h1>
							<h2>We are an all-girl school. Thus we're proud.</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Latest Post</h2>
					<p>With the help of the our weekly Thursday Assemblies we have notured a routine of a creativity, academics and entertainment.</p>
				</div>
			</div>
			<div class="row">
				{% set posts = blogPosts.posts %}
				{% for post in posts %}
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							{% if post.featured_images.count %}         
	                {% for image in post.featured_images %}
	                <a href="{{ post.url }}"><img class="img-responsive"  data-src="{{ image.filename }}" src="{{ image.path }}"
	                    alt="{{ image.description }}"></a>
	                {% endfor %}         
							 {% endif %}
							<div class="blog-text">
								<h3><i class="icon-open-book blog-icons"></i><a
										href="{{ post.url }}">{{ post.title }}</a></h3>
								<span class="posted_on">{{ post.published_at|date('M d, Y') }}</span>
								<span class="posted_on">Posted
									{% if post.categories.count %} in {% endif %}
									{% for category in post.categories %}
									<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
									{% endfor %}
								</span>
								<p>{{ str_limit(post.summary|raw, 120) }}</p>
								<a href="{{ post.url }}" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>