title = "contact"
url = "/contact"
layout = "default-layout"
is_hidden = 0
==

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
		style="background-image:url({{ 'assets/images/picture.jpg'|theme }});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Contact Us</h1>
							<h2>We are an all-girl school. Thus we're proud.</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<iframe id="map" class="fh5co-map"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3880.281585965462!2d-16.585890085172732!3d13.45673189053891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec29dc28df1f689%3A0xce437469726e3499!2sSt+Joseph&#39;s+Senior+Secondary+School!5e0!3m2!1sen!2sgm!4v1561491017849!5m2!1sen!2sgm"
					width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
				</iframe>
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">P.O Box 119,<br>Box Bar Road.</li>
							<li class="phone"><a href="tel://1234567920">+220 ‭422-7709</a></li>
							<li class="email"><a href="mailto:stjosephs1921@yahoo.co.uk">stjosephs1921@yahoo.co.uk</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box  text-center pt-40">
					<h3>Get In Touch</h3>
					<div class="col-md-12 animate-box">
						<p><a class="btn btn-primary btn-lg btn-learn" href="mailto:stjosephs1921@yahoo.co.uk" style="width: 70%;">Shoot An Email Us</a></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>

