title = "events"
url = "/events"
layout = "default-layout"
is_hidden = 0

[builderList]
modelClass = "Sang\Events\Models\Events"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
		style="background-image:url({{ 'assets/images/picture.jpg'|theme }});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Our Events and Activities</h1>
							<h2>Over the years we have made so much progress in getting to see the potential of our ladies curtisy of the school events organized.</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	{% set records = builderList.records %}
	{% set displayColumn = builderList.displayColumn %}
	{% set noRecordsMessage = builderList.noRecordsMessage %}
	{% set detailsPage = builderList.detailsPage %}
	{% set detailsKeyColumn = builderList.detailsKeyColumn %}
	{% set detailsUrlParameter = builderList.detailsUrlParameter %}

		<div class="container">
			<div class="row">
				<div class="pricing mt-30">
					{% for record in records %}
						{% if date(record.date) > date("now"|date()) %}
						 {% if loop.index < 2 %}
							<div class="row animate-box">
								<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
									<h2>Upcoming Events</h2>
									<p>{{ record.name }}</p>
								</div>
							</div>
							<div class="col-md-6 text-center animate-box">
								<img class="img-responsive abt-img pb-40" src="{{ record.event_img.thumb (555, 450, {'mode':'crop'}) }}" alt="work"
									style="margin-left: 50%;">
							</div>
						    {% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
				
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Previous Events</h2>
						<p>Our girls have always made us proud no matter how difficult the situation might be.</p>
					</div>
				</div>
			</div>
			<div class="container-fluid proj-bottom container">
				<div class="row">
					{% for record in records %}
						{% if date(record.date) < date("now"|date()) %}
							<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
								<a href="#"><img src="{{ record.event_img.path }}"
										alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
									<h3>{{ record.name }}</h3>
									<span>{{ html_limit(record.description|raw, 25) }}</span>
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

	</div>