title = "gallery"
url = "/gallery"
layout = "default-layout"
is_hidden = 0

[builderList]
modelClass = "Sang\Gallery\Models\Gallery"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "gallery"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
recordsPerPage = 9
pageNumber = "{{ :page }}"
==
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ 'assets/images/picture.jpg'|theme }});" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1>Gallery</h1>
                                <h2>We are an all-girl school. Thus we're proud of our achievements in the diverse world of academics.</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</header>

	<div id="fh5co-blog">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Great Times</h2>
				<p>See the great fun and experience our students have always made us exprience in this unbelieveable environment of Art, Academics, Sports, Entertainment, etc.</p>
			</div>
		</div>
		<div class="container-fluid proj-bottom">
			<div class="row">
			{% set records = builderList.records %}
			{% set displayColumn = builderList.displayColumn %}
			{% set noRecordsMessage = builderList.noRecordsMessage %}
			{% set detailsPage = builderList.detailsPage %}
			{% set detailsKeyColumn = builderList.detailsKeyColumn %}
			{% set detailsUrlParameter = builderList.detailsUrlParameter %}

				{% for record in records %}

					{% for image in record.gallery %}

					{% if loop.index < 13 %}

						<div class="col-md-3 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
							<a href="#">
								<img src="{{ image.thumb(392,261,{'mode':'crop'}) }}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							</a>
						</div>
					
						{% endif %}

					{% endfor %}

				{% endfor %}
				
			</div>
		
		</div>
	</div>