title = "home"
url = "/"
layout = "default-layout"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "blog-details"

[builderList]
modelClass = "Sang\Banner\Models\Banner"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
recordsPerPage = 1
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"

[builderList events]
modelClass = "Sang\Events\Models\Events"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList gallery]
modelClass = "Sang\Gallery\Models\Gallery"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

	{% for record in records %}
		<header id="fh5co-header" class="fh5co-cover" role="banner"
			style="background-image:url({{ record.banner_img.path  }});" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<div class="display-t">
								<div class="display-tc animate-box" data-animate-effect="fadeIn">
									<h1>{{ record.name }}</h1>
									<p style="color: #fff; font-size: 20px;">{{ record.description }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
	{% endfor %}
	<div id="fh5co-counter" class="fh5co-counters">
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="598" data-speed="50" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Students</span>
				</div>
				<div class="col-md-4 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="24" data-speed="50" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Subjects</span>
				</div>
				<div class="col-md-4 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="33" data-speed="50" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Teachers</span>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>About</h2>
					<p>  We have gone through so much for almost a century, browse through our history, know us more.</p>
				</div>
			</div>
		</div>		
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-6 animate-box">
								<!-- <div class="home-player-overlay"></div> -->
								<img class="img-responsive" src="{{ 'assets/images/Abt-frontpage.jpg'|theme }}" alt="work" class="z-index: 1;">
						<!-- <a class="icon-play" href="https://www.youtube.com/watch?v=GjFcq0DSunE" target="_blank">
								
						</a> -->
					</div>
					<div class="col-md-6 col-md-pull-6 animate-box">
						<div class="mt">
							<h3>We Are The Great St. Josephs</h3>
							<p>
								Since 1883, the Sisters of St. Joseph of Cluny have worked in The Gambia with devotion and dedication in the
								fields of Education, Nursing and other social work for the promotion of the full development of the Gambian
								people.
								St. Joseph’s Senior Secondary School (previously St. Joseph’s High School) was established in 1921 as a Roman
								Catholic Mission School for Girls by the Congregation with an initial enrolment of forty-four students headed by
								Mrs. Nellie Morris who handed over to Sr. Celeste Wall in 1923. The school’s policy was to instil self
								discipline, inculcate moral values and to provide a model education for its students, Christians and Muslims
								alike; with basic reading, writing, arithmetic, music (introduced in 1926), home economics skills with a great
								emphasis on religious education. 
							</p>
								<div class="col-md-12 animate-box">
							<p><a class="btn btn-primary btn-lg btn-learn" href="{{ 'about'|page }}">Read More</a></p>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="pricing">
					<div class="mt animate-box">
						<h3 class="mb-50">Our Students Are Offered.</h3>
					</div>
				<div class="col-md-3 animate-box">
					<div class="price-box">
						<h2 class="pricing-plan">Commerce</h2>
						<ul class="classes">
							<li>English</li>
							<li class="color">Maths</li>
							<li>Accounting</li>
							<li class="color">Economics</li>
							<li>Business Management</li>
							<li class="color">Agricultural Science</li>
							<li>Literature</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 animate-box">
					<div class="price-box">
						<h2 class="pricing-plan">Science<span>Art Science</span></h2>
							<ul class="classes">
								<li>English</li>
								<li class="color">Maths</li>
								<li>Chemistry</li>
								<li class="color">Physics</li>
								<li>Biology</li>
								<li class="color">Further Mathematics</li>
								<li>Visual Arts</li>
								<li class="color">Geography</li>
							</ul>
					</div>
				</div>

				<div class="col-md-3 animate-box">
					<div class="price-box popular">
						<h2 class="pricing-plan pricing-plan-offer">Science<span>Pure Science</span></h2>
						<ul class="classes">
							<li>English</li>
							<li class="color">Maths</li>
							<li>Chemistry</li>
							<li class="color">Physics</li>
							<li>Biology</li>
							<li class="color">Further Mathematics</li>
							<li>Visual Arts</li>
							<li class="color">Geography</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 animate-box">
					<div class="price-box">
						<h2 class="pricing-plan">Arts</h2>
						<ul class="classes">
							<li>English</li>
							<li class="color">Maths</li>
							<li>History</li>
							<li class="color">Government</li>
							<li>Biology</li>
							<li class="color">General Science</li>
							<li>Religious Studies</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
	</div>

			<div id="fh5co-counter" class="fh5co-counters">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center animate-box">
									<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModalScrollable" style="width: 25%; font-size: 22px;">
										Register Now
									</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Button trigger modal -->
	
			<!-- Modal -->
			<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalScrollableTitle">All About Our History</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
					
									<div class="col-md-12 animate-box">
										<h3>Get In Touch</h3>
										<form action="#">
											<div class="row form-group">
												<div class="col-md-6">
													<!-- <label for="fname">First Name</label> -->
													<input type="text" id="fname" class="form-control" placeholder="Your firstname">
												</div>
												<div class="col-md-6">
													<!-- <label for="lname">Last Name</label> -->
													<input type="text" id="lname" class="form-control" placeholder="Your lastname">
												</div>
											</div>

											<div class="row form-group">
												<div class="col-md-12">
													<!-- <label for="email">Email</label> -->
													<input type="text" id="email" class="form-control" placeholder="Your email address">
												</div>
											</div>

											<div class="row form-group">
												<div class="col-md-12">
													<!-- <label for="subject">Subject</label> -->
													<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
												</div>
											</div>

											<div class="row form-group">
												<div class="col-md-12">
													<!-- <label for="message">Message</label> -->
													<textarea name="message" id="message" cols="30" rows="10" class="form-control"
														placeholder="Say something about us"></textarea>
												</div>
											</div>
											<div class="form-group">
												<input type="submit" value="Send Message" class="btn btn-primary">
											</div>

										</form>
									</div>
						</div>
						<div class="modal-footer">
							
						</div>
					</div>
				</div>
			</div>
	</div>
		<div id="fh5co-counter" class="fh5co-counters" style="background-color: #3e64ef38;">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Achievements</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<span id="icons" class="icon-tv"></span>
						<spa>
							<span class="fh5co-counter-label mt-40 animate-box">A school website</span>
					</div>
					<div class="col-md-4 text-center">
						<span id="icons" class="icon-v-card"></span>
						<span class="fh5co-counter-label mt-40 animate-box">Generate E-Report Cards for students</span>
					</div>
					<div class="col-md-4 text-center">
						<span id="icons" class="icon-open-book"></span>
						<span class="fh5co-counter-label mt-40 animate-box">A digitized library</span>
					</div>
				</div>
			</div>
		</div>

	<div id="fh5co-testimonial" class="fh5co-bg-section" style="background: #efefef;">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Recent Post</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab
						aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
								{% set posts = blogPosts.posts %}
								
								{% for post in posts %}
									{% if loop.index < 5 %}
										<div class="col-lg-4 col-md-4">
											<div class="fh5co-blog animate-box">
												{% if post.featured_images.count %}         
												                {% for image in post.featured_images %}
												                <a href="{{ post.url }}"><img class="img-responsive" data-src="{{ image.filename }}"
														src="{{ image.thumb(350,247, {'mode': 'crop'}) }}"                     alt="{{ image.description }}"></a>
												                {% endfor %}         
												 {% endif %}
												<div class="blog-text blog-text-home">
													<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
													<span class="posted_on">{{ post.published_at|date('M d, Y') }}</span>
													<span class="posted_on">Posted
														{% if post.categories.count %} in {% endif %}
														{% for category in post.categories %}
														<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
														{% endfor %}
													</span>
													<p>{{ html_limit(post.summary|raw, 120) }}</p>
													<a href="{{ post.url }}" class="btn btn-primary">Read More</a>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Gallery</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
				<div class="container-fluid proj-bottom">
					<div class="row">
					{% set records = gallery.records %}
					{% set displayColumn = gallery.displayColumn %}
					{% set noRecordsMessage = gallery.noRecordsMessage %}
					{% set detailsPage = gallery.detailsPage %}
					{% set detailsKeyColumn = gallery.detailsKeyColumn %}
					{% set detailsUrlParameter = gallery.detailsUrlParameter %}

					{% for record in records %}

					{% for image in record.gallery %}

					{% if loop.index < 9 %}

						<div class="col-md-4 col-sm-6 col-lg-3 fh5co-project animate-box" data-animate-effect="fadeIn">
							<a href="#">
								<img src="{{ image.thumb(392,261,{'mode':'crop'}) }}" alt="Free HTML5 Website Template by FreeHTML5.co"
									class="img-responsive">
							</a>
						</div>

					{% endif %}

					{% endfor %}

					{% endfor %}

					</div>
					<div class="col-md-12 text-center animate-box">
						<p><a class="btn btn-primary btn-lg btn-learn" href="{{ 'gallery'|page }}">View More</a></p>
					</div>
				</div>
	</div>

	<div id="fh5co-started" style="background-image:url(images/schLocations.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Get Started with SJSSS</h2>
					<p>The St. Joseph’s Experience is very powerful</p>
					<p>It gives students a unique sense of boldness. <br>
						It helps them to develop their God given talents and potentials. <br>
						It gives the girls the opportunity to explore different disciplines and integrate fields of knowledge,
						and, to ask the right questions. <br>
						Here students are uniquely prepared to not only fit in but to excel wherever
						they may find themselves.
					</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="{{ 'contact'|page }}" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>