==
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SJSSS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
	
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ 'assets/css/animate.css'|theme }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ 'assets/css/icomoon.css'|theme }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ 'assets/css/bootstrap.css'|theme }}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css'|theme }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/owl.theme.default.min.css'|theme }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">

	<!-- Modernizr JS -->
	<script src="{{ 'assets/js/modernizr-2.6.2.min.js'|theme }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	
	<![endif]-->

	   <link type="text/css" rel="stylesheet" href="{{ 'assets/css/lightgallery.css'|theme }}" />

	{% styles %}
	{% scripts %}
	

	</head>
	<body>

	{% partial 'navigation' %}
	
	{% page %}

	{% partial 'footer' %}



	
	
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{{ 'assets/js/jquery.min.js'|theme}}"></script>
	<!-- jQuery Easing -->
	<script src="{{ 'assets/js/jquery.easing.1.3.js'|theme}}"></script>
	<!-- Bootstrap -->
	<script src="{{ 'assets/js/bootstrap.min.js'|theme}}"></script>
	<!-- Waypoints -->
	<script src="{{ 'assets/js/jquery.waypoints.min.js'|theme}}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ 'assets/js/jquery.stellar.min.js'|theme}}"></script>
	<!-- Carousel -->
	<script src="{{ 'assets/js/owl.carousel.min.js'|theme}}"></script>
	<!-- countTo -->
	<script src="{{ 'assets/js/jquery.countTo.js'|theme}}"></script>
	<!-- Magnific Popup -->
	<script src="{{ 'assets/js/jquery.magnific-popup.min.js'|theme}}"></script>
	<script src="{{ 'assets/js/magnific-popup-options.js'|theme}}"></script>
	<!-- Main -->
	<script src="{{ 'assets/js/main.js'|theme}}"></script>



	   <!-- jQuery version must be >= 1.8.0; -->
	   <script src="jquery.min.js"></script>
	   <script src="js/lightgallery.min.js"></script>

	   <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

	   <!-- lightgallery plugins -->
	   <script src="{{ 'assets/js/lg-thumbnail.min.js'|theme }}"></script>
	   <script src="{{ 'assets/js/lg-fullscreen.min.js'|theme }}"></script>
	{% framework extras %}
	</body>
</html>